html, body {
    height: 100%;
}
body {
    background-color: #000;
    background: url('../../assets/images/wbb.jpg') no-repeat center center;
    background-size: cover;
}

div {
    color: pink;
    display: flex;
    font-size: 20px;
}